<%= link_to "", registered_application_path(registered_application), method: :delete, class: 'glyphicon glyphicon-remove-circle'%>
<%= link_to registered_application.name, registered_application_path(registered_application) %>
<h5><small><%= registered_application.url %></small></h5>
