<h3>Blocmetrics</h3>
<p>An analytics service with the following features:</p>
<ul>
  <li>a client-side JS snippet that allows a user to track events on their website</li>
  <li>a server-side API that captures and saves those events to a database</li>
  <li>a Rails application that displays the captured event data for a user</li>
</ul>
