<h1>Welcome to Blocmetrics</h1>
<p>Blocmetrics is an analytics tool for tracking events on websites. Integrate with web apps to track user activity and report results.</p>

<br/>
<div id="footer">
  <h5>created by: Mark DellaPosta</h5>
</div>
